.page-header
  %h1 Scoreboard

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Pos
      %th Player
      %th Score
  %tbody
    - @players.each do |p|
      %tr
        %td
          = p.id
        %td 
          = p.name
        %td 1000000