.page-header
  %h1.text-center Games

.game-list
  .row
    .col-xs-15
      .games-container
        - @games.in_groups_of(5).each do |g|
          -g.each do |game|
            - next if game.nil?
            .grid.text-center
              .game-thumb
                = link_to(image_tag(game.image_link, class: "game-image img-circle"), scoreboard_game_path(game))
                %h4.text-center
                  = game.name    
