<div class="flash">
  <a ng-href="{{contra_link}}" class="scoreboard">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span class="big-font">HEADS UP! </span> There is a new rule for Contra, and your total amount of points might be affected by this. Click here to check it out!.
    </div>
  </a>
</div>

<div class="page-header">
  <h1 class="text-left"> 
    {{title}} 
    <div ng-show="notMain" ng-click="displayMain()" class="btn btn-primary pull-right link-ru">Go to Main Scoreboard</div></a>
  </h1>
</div>  
    
<div class="row">
  <div ng-include="template_scoreboard"></div>
  <div ng-include="template_submissions"></div>
</div>

