// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Game List */

.games-container {
  padding-bottom: 50px;
}

.game-image {
  width: 140px;
  height: 50px;
}

.game-list {
  position: relative;
  top: 40px;
}

body .game-thumb {
  min-height: 120px;
  width: auto;
}

.img-circle {
  border: 4px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
  position: relative;
}

.link-ru a,
.link-ru a:hover,
.link-ru a:focus {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  body .link-ru {
    display: none;
  }
}
