// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Game List */

.game-image {
  width: 140px;
  height: 140px;
}

.game-list {
  position: relative;
  top: 40px;
}

body .game-thumb {
  min-height: 200px;
  width: auto;
}
