/* General */

.page-header {
  border-bottom: 1px solid;
}

h1 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 767px) {
  body .back-container {
    padding-bottom: 100px;
    padding-top: 44px;
  }
}

body .main-container {
  background: #000;
  opacity: 0.8;
} 

body .game-scoreboard {
  min-height: 900px;
}

/* NavBar */

.navbar {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-brand {
  font-size: 20px;
}

.navbar-default .navbar-brand a,
.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-brand a:focus {
  color: #ffffff;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A9B4C0;
}

.brand-logo {
  margin-left: 10px;
  width: 34px;
  vertical-align: -10px;
}

.navbar-fixed-bottom {
  margin-top: 21px;
}

/* Scoreboard */

.col-centered{
  float: none;
  margin: 0 auto;
}

.main-scoreboard {
  margin-bottom: 50px;
}
/* Footer */

.navbar-footer {
  font-size: 15px;
}

.navbar-default .navbar-text {
  color: #FFF;
  font-size: 13px;
}

.footer-image {
  margin-left: 10px;
  width: 60px;
}