/* General */

.page-header {
  border-bottom: 1px solid;
}

body {
  padding-bottom: 100px;
}
/* NavBar */

.navbar {
  font-size: 18px;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A9B4C0;
}
.brand-logo {
  margin-left: 10px;
  width: 34px;
  vertical-align: -10px;
}

.navbar-fixed-bottom {
  margin-top: 21px;
}
/* Scoreboard */

.col-centered{
  float: none;
  margin: 0 auto;
}

/* Footer */

.navbar-footer {
  font-size: 15px;
}
.navbar-default .navbar-text {
  color: #808080;
}
.footer-image {
  margin-left: 10px;
  width: 60px;
}