
/* NavBar */

.navbar {
  font-size: 18px;
}
.navbar-brand {
  font-size: 21px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A9B4C0;
}
.brand-logo {
  margin-left: 10px;
  width: 34px;
}

/* Scoreboard */

.col-centered{
  float: none;
  margin: 0 auto;
}