.flash
  -if flash[:notice].present?
    .alert.alert-dismissable.alert-success{role: "alert"}
      = flash[:notice]

  -if flash[:error].present?
    .alert.alert-dismissable.alert-danger{role: "alert"}
      =flash[:error]

  -if flash[:warning].present?
    .alert.alert-dismissable.alert-warning{role: "alert"}
      =flash[:warning]