.navbar.navbar-default.navbar-fixed-bottom
  .container
    .navbar-text.pull-left Built by AlexGunslinger

.container.navbar-fixed-bottom
  %a.navbar-link.pull-right{href: 'http://www.cancer.org/'}
    = image_tag('pinkr.png', class: "footer-image")